[Desktop Entry]
Name[be]=Shortwave
Name[bg]=Shortwave
Name[cs]=Shortwave
Name[da]=Shortwave
Name[de]=Shortwave
Name[en_GB]=Shortwave
Name[es]=Shortwave
Name[eu]=Shortwave
Name[fa]=موج کوتاه
Name[fi]=Shortwave
Name[fr]=Shortwave
Name[fur]=Shortwave
Name[gl]=Shortwave
Name[he]=Shortwave
Name[hi]=शॉर्टवेव
Name[hu]=Rövidhullám
Name[ia]=Shortwave
Name[id]=Shortwave
Name[is]=Shortwave
Name[it]=Shortwave
Name[ka]=Shortwave
Name[oc]=Shortwave
Name[pl]=Shortwave
Name[pt]=Shortwave
Name[pt_BR]=Shortwave
Name[ro]=Shortwave
Name[ru]=Shortwave
Name[sk]=Shortwave
Name[sl]=Kratki valovi
Name[sv]=Shortwave
Name[tr]=Shortwave
Name[uk]=Коротка хвиля
Name[vi]=Sóng ngắn
Name[zh_CN]=短波
Name[zh_TW]=Shortwave
Name=Shortwave
GenericName[bg]=Интернет радио плеър
GenericName[da]=Internetradioafspiller
GenericName[de]=Internetradio-Wiedergabe
GenericName[es]=Reproductor de radio por internet
GenericName[eu]=Interneteko irratien erreproduzigailua
GenericName[fa]=پخش کنندهٔ رادیوی اینترنتی
GenericName[fi]=Nettiradioasemien soitin
GenericName[fr]=Lecteur de radios internet
GenericName[he]=נגן רדיו מהאינטרנט
GenericName[ia]=Reproductor de radio per Internet
GenericName[it]=Riproduttore di radio Internet
GenericName[ka]=ინტერნეტრადიოს დამკვრელი
GenericName[oc]=Lector de ràdios Internet
GenericName[pt_BR]=Reprodutor de rádio da Internet
GenericName[sl]=Internetni radijski predvajalnik
GenericName[sv]=Internetradiospelare
GenericName[tr]=İnternet Radyo Çalar
GenericName[uk]=Програвач інтернет-радіо
GenericName[zh_CN]=互联网广播播放器
GenericName=Internet Radio Player
Comment[be]=Слухайце інтэрнэт-радыё
Comment[bg]=Радио по Интернет
Comment[ca]=Escolta la ràdio per internet
Comment[cs]=Poslouchejte internetové rádio
Comment[da]=Lyt til internetradio
Comment[de]=Internetradio hören
Comment[el]=Ακρόαση ιντερνετικού ραδιοφώνου
Comment[en_GB]=Listen to internet radio
Comment[es]=Escuchar la radio por Internet
Comment[eu]=Entzun interneteko irrratiak
Comment[fa]=شنیدن رادیوهای اینترنتی
Comment[fi]=Kuuntele internetradiota
Comment[fr]=Écouter une radio internet
Comment[fur]=Scolte la internet-radio
Comment[gl]=Escoitar radio por internet
Comment[he]=האזנה לתחנת רדיו
Comment[hi]=इंटरनेट रेडियो सुनें
Comment[hr]=Slušajte internetski radio
Comment[hu]=Internetes rádió hallgatása
Comment[ia]=Ascolta le radio per internet
Comment[id]=Dengarkan radio internet
Comment[is]=Hlusta á internet-útvarp
Comment[it]=Ascoltare radio su Internet
Comment[ka]=ინტერნეტ რადიოს მოსმენა
Comment[nl]=Beluister internetradio
Comment[oc]=Escotar la ràdio Internet
Comment[pl]=Słuchanie radia internetowego
Comment[pt]=Ouça rádio na Internet
Comment[pt_BR]=Ouça a rádios da Internet
Comment[ro]=Ascultați la stația de radio prin internet
Comment[ru]=Слушайте интернет-радио
Comment[sk]=Počúvajte internetové rádiá
Comment[sl]=Poslušanje spletnih radijskih postaj
Comment[sr]=Слушајте радио преко Интернета
Comment[sv]=Lyssna på internetradio
Comment[tr]=İnternet radyolarını dinle
Comment[uk]=Прослуховування інтернет-радіо
Comment[vi]=Nghe đài phát qua mạng internet
Comment[zh_CN]=收听互联网广播
Comment[zh_TW]=收聽網路電臺
Comment=Listen to internet radio
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=de.haeckerfelix.Shortwave
Exec=shortwave
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Audio;AudioVideo;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Gradio;Radio;Stream;Wave;Радыё;Хваля;Патокавая;Перадача;
Keywords[bg]=радио;предаване;поток;вълни;gradio;radio;stream;wave;
Keywords[ca]=Gradio;Ràdio;Ràdios;Emissores;Emissora;Retransmissió;retransmissions;directe;
Keywords[cs]=Gradio;Radio;Rádio;Stream;Wave;
Keywords[da]=Gradio;Radio;Stream;Strøm;Wave;Bølge;
Keywords[de]=Gradio;Radio;Stream;Welle;
Keywords[en_GB]=Gradio;Radio;Stream;Wave;
Keywords[es]=Gradio;Radio;Flujo;onda;
Keywords[eu]=Gradio;Irratia;Korrontea;Wave;
Keywords[fa]=Gradio;Radio;Stream;Wave;رادیو;پخش;جریان;موج;
Keywords[fi]=Gradio;Radio;Stream;Wave;suoratoisto;nettiradio;
Keywords[fr]=Gradio;radio;stream;flux;wave;diffusion;
Keywords[fur]=Gradio;Radio;Flus;Stream;Wave;Onde;
Keywords[gl]=Gradio;Radio;Stream;Fluxo;Retransmisión;Onda;Wave;
Keywords[he]=רדיו;תחנות;תחנה;מוזיקה;הזרמה;גל;תדר;חדשות;
Keywords[hi]=ग्रैडियो;रेडियो;स्ट्रीम;वेव;
Keywords[hr]=Gradio;Radio;Strujanje;Wave;
Keywords[hu]=Gradio;rádió;adatfolyam;műsorszórás;közvetítés;hullám;
Keywords[ia]=Gradio;Radio;Fluxo;Unda;
Keywords[id]=Gradio;Radio;Aliran;Gelombang;
Keywords[is]=Gradio;Útvarp;Streymi;Tíðni;
Keywords[it]=Gradio;Radio;Stream;Onda;Flusso;Trasmissione;
Keywords[ka]=Gradio;Radio;Stream;Wave;
Keywords[nl]=Gradio;Radio;Stream;Wave;Stroom;Golf;
Keywords[oc]=Gradio;Radio;Stream;Wave;ràdio;flux;onda;
Keywords[pl]=Gradio;Radio;Strumień;Strumieniowe;Strumieniowanie;Stream;Wave;Fala radiowa;
Keywords[pt]=Gradio;Rádio;Emissão;Transmissão;
Keywords[pt_BR]=Gradio;Rádio;Radio;Stream;Reprodução;Reproduzir;Wave;Onda;Sintonia;
Keywords[ro]=Gradio;Radio;Stream;Wave;
Keywords[ru]=Gradio;Радио;Трансляция;Волна;
Keywords[sk]=Gradio;Rádio,Stream;Streamovanie;Prúd;Wave;Frekvencie;
Keywords[sl]=Gradio;radio;tok;stream;wave;pretok;glasba;kratki;valovi;skladbe;komadi;komad;
Keywords[sr]=г-радио;градио;радио;стрим;ток;вејв;вал;талас;кратак;Gradio;Radio;Stream;Wave;G-radio;strim;tok;vejv;val;talas;kratak;
Keywords[sv]=Gradio;Radio;Ström;Stream;Wave;
Keywords[tr]=Gradio;Radio;Stream;Wave;Gradio;Yayın;Akış;Dalga;Kısa Dalga;İstasyon;Shortwave;
Keywords[uk]=Gradio;Radio;Stream;Wave;градіо;жрадіо;радіо;потік;трансляція;хвиля;
Keywords[vi]=Gradio;Radio;Stream;Wave;đài;dai;sóng ngắn;song ngan;
Keywords[zh_CN]=Gradio;Radio;Stream;Wave;收音机;流;波;广播;媒体;
Keywords[zh_TW]=Gradio;Radio;Stream;Wave;電臺;收音機;廣播;
Keywords=Gradio;Radio;Stream;Wave;
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
