[advisories]
version = 2
yanked = "deny"
ignore = [
   { id = "RUSTSEC-2024-0384", reason = "we depend on isahc, as there is currently no other non-tokio async http client available" },
]

[licenses]
version = 2
allow = [
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "GPL-3.0",
    "ISC",
    "LGPL-2.1",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "BSL-1.0",
]